:root{
    --hauteur-menu: 50px;}
  
nav, nav ul,nav >ul li{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;}

    nav { 
      width: 170px;
      font-size: 18px;
      position: relative;
      margin: auto;
    z-index: 4;
  
    }
  
  
  
  
  nav > ul {

    list-style: none;
    display: flex;
    

    height: var(--hauteur-menu);
  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
 
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
  }
  


.flag{
    width: 30px;
    padding-right: 5px;
  }
  
  nav > ul > li > p {
    z-index: 5;
    color: #2169EC;
    user-select: none;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-41%, -50%);
  }

  nav > ul > li > p >.flag{
  
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(-50%, -50%);
  }

  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-deroulant > p:after{
    content: '❯';
    font-size: 15px;
    margin-left: 8px;
    display: inline-block;
    transition: transform 0.2s;
  }
  
  .menu-deroulant{border-radius: 10px;}

  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: white;
 
    overflow: hidden;
    max-height: 0;
  }
  
.sous-menu > li > a {
    height: 50px;
    padding-left: 16px;
    width: 100%;
    align-items: center;
    display: flex;
  }
  
nav > ul > li:hover > p{
    color: #2169EC;
  }
  
.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);}
  
.sous-menu > li:hover > a {
    color: white;}
  

  
  .menu-deroulant:hover > p:after{
    transition: 0.3s;
    transform: rotate(90deg);
  }
  
  
  @keyframes apparitionSousMenu {
   
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
      border-radius: 0px 0px 10px 10px;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
        border-radius: 0px 0px 10px 10px;  
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  
.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 0.8s forwards;
  z-index: 2;
}




.menu-deroulant:hover{
    border-radius:10px 10px 0px 0px ;}


.menu1{width: 200px;}