@charset "UTF-8";

* {
  scroll-behavior: smooth;

  /*box-shadow: 0 0 0 3px red inset;*/

}



body {
  margin: 0;
}

/*background-color: rgb(236, 236, 255);*/

#background {
  margin: auto;
  max-width: 3000px;
  background-image: none;
  /*background-color: #06283D; */
  /*rgb(236, 236, 255)*/
  background-size: cover;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 980px;
  padding-top: 75px;
  /*filter: blur(0.9px);*/
  transition: background-image 2s ease-in;
}





.deb {
  background: none;
  position: absolute;
  top: 0px;
  width: 100%;
  display: block;
  box-sizing: border-box;

  min-height: 980px;
  padding-top: 75px;
}







.menu,
.result {
  width: 50%;
  max-width: 2000px;
  margin: 0px auto;
}


.menu {
  padding-top: 20px;
  border-radius: 25px 25px 0px 0px;

}

.menu,
.result {
  color: black;
  background: rgba(255, 228, 196, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.menu>h1 {
  text-align: center;
  font-family: 'Marianne', sans-serif;
}


#afficheLen {
  font-family: gibson-regular, Arial, sans-serif;
  padding-bottom: 40px;
}

#output {
  font-weight: bold;
}

.input_checkbox {
  margin-left: 45%;
}


.c {
  width: 34px;
  /* Largeur de la case à cocher */
  height: 24px;
  /* Hauteur de la case à cocher */
  margin-right: 8px;
  margin-bottom: 10px;

  accent-color: red;
}

label {
  color: RGB(58, 58, 58);
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  user-select: none;
}

/*
  label:hover::after {
    content: "Hello World";
    margin-left: 10px;
    display: inline-block;
    position: relative;
    padding: 0 2px;
 
    background-color: #f1f1f1;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
*/




.barre {
  width: 60%;
  margin-left: 20%;
  accent-color: red;
}


#afficheLen {
  text-align: center;
  font-size: 19px;
}










.actu-button-container {
  position: relative;
  text-align: right;
}


.actu-button {

  float: right;
  margin-top: 1.5px;
  text-align: right;
  margin-right: 4.5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.actu-logo {

  top: 40px;
  height: 40px;
  width: 40px;
}

.actu-button:hover .actu-logo {

  transition: 0.4s;
  transform: rotate(360deg);
}




.result {
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 0px 0px 25px 25px;
  color: black;

  padding-top: 10px;
  padding-bottom: 7px;
}

#password {
  font-family: gibson-regular, Arial, sans-serif;
  font-family: "Space Mono", monospace;
  font-size: 29px;
  height: 45px;
}

#password {
  margin-left: 6.5%;
  margin-right: 5%;

  border: 1px solid gray;
  border-radius: 10px;
  width: 60%;
  max-width: 999px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  word-wrap: break-all;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 1%;

}

.contBadge {
  margin: 0;
  padding: 0;
  width: 5px;
  background-color: #1ECD97;
  white-space: nowrap;
  position: relative;
  margin-left: -5%;
  margin-top: -10px;
  display: inline-block;
}

#badge {
  background-color: blueviolet;
  color: white;
  padding: 6px 15px 6px 15px;
  margin-left: -5%;

  border-radius: 10px;
  font-size: 25px;
  font-family: "MierB03", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: 1.5px;
  white-space: nowrap;

  display: inline-block;
  vertical-align: top;
}

#ligne {
  margin-left: 3%;
  margin-bottom: 10px;
  margin-right: 3%;
}




/*---------------------------------------------------------------------------------------------------------*/


#annimH1 {
  word-break: break-all;
}


.faq {
  background-color: #F8F9FA;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 980px;
  padding-top: 10px;
  padding-bottom: 60px;
  margin: auto;
  max-width: 3000px;
}


.faq>h1 {
  text-align: center;
  width: 50%;
  min-width: 200px;
  font-family: 'Marianne', sans-serif, monospace;

  margin: 20px auto 50px;
}









details {
  margin: auto;
  width: 70%;
  max-width: 900px;
  min-width: 0px;
  height: auto;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

summary {
  user-select: none;
  width: 100%;
  height: auto;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}




summary h4 {
  margin-left: 10px;
  max-width: 84%;
  padding: 0px 5px;
  font-size: 25px;

  font-family: Arial, Helvetica, sans-serif;
}





details>p {
  font-size: 20px;
  width: 90%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 7%;
}


details>ol,
details>ul {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 90%;
}

details>ol li {
  text-align: justify;
  padding: 5px;
}

summary:hover,
details[open] summary {
  color: #0070f6;
}


.logo_plus {

  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 100px;
  user-select: none;
  transition: transform 0.3s;
  position: relative;
  float: right;
  margin: 10px;

  cursor: pointer;

}


.logo_plus>span {
  color: black;
  font-size: 39px;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

summary:hover .logo_plus {
  border: 1px solid #0070f6;
  background-color: #0070f6;
}


summary:hover .logo_plus>span,
details[open] .logo_plus>span {
  color: white;
}



details[open] .logo_plus {
  height: 50px;
  width: 50px;
  border: 1px solid #0070f6;
  background-color: #0070f6;
  transition: 0.3s;
  transform: rotate(45deg);
}


















footer {
  position: relative;
  margin-top: 220px;
  width: 100%;

  border-radius: 50px;
  text-align: center;

  display: block;
  font-size: 25px;
}

footer a:hover {
  background-color: #1ECD97;
  color: white;
}

footer a {
  text-decoration: none;
  padding: 10px 20px 10px 20px;

  border-radius: 50px;
  background-color: white;
}